node_modules
dist
.env
.env.local
.env.production
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
server/.env
server/.env.local
server/.env.production
server/service-account.json
server/.gocache/
